h3{
    font-family: 'Handlee', cursive;
    color:white;
  
  
  }
  h1{
    font-family: 'Handlee', cursive;
    color: yellowgreen;
  
  }
  .bing{
    border-style: solid;
    border-width: 1px;
    border-color: yellowgreen;
    background-color:yellowgreen ;
  
  }
  .jumbotron{
    background-color: black;
  }
  hr{
    color: white;
  }
  button{
    font-family: 'Handlee', cursive;
  
  }
  