<div style="text-align:center">
  <div class="jumbotron jumbotron-top">
  <h1>
    Welcome to the  Quotera!!
  </h1>
</div>

<br>
<div class="container" class="bing">
<div *ngFor='let quote of quotes' >
<h3>{{quote.name}}</h3>
<h3>{{quote.quote}}</h3>
<h3>{{quote.date}}</h3>
<button class="btn btn-success" (click)= 'quoteDelete()' >Delete Quote</button>
<button class="btn btn-success" (click)='upVote()'>{{upVotes}}</button>
<button class="btn btn-success" (click)='downVote()'>{{downVotes}}</button>

<hr>
</div>

</div>
<br>

<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
